:root {
    --input-padding: 10px;
}

body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, sans-serif;
    background-color: #f0f0f0;
    color: #fff;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.app {
    height: 100vh;
}

.content {
    margin: 25% auto;
    transform: translate(0, -50%);
}

.clock {
    font-size: 9rem;
    margin: 70px 0 10px 0;
    font-weight: 500;;
}

.greeting, .intro {
    font-size: 2.5em;
    margin: 10px 0;
}

.main-focus{
    width:80vw;
    max-width: 550px;
    margin: 40px auto;
}

.main-focus h3{
    font-size: 2.1875em !important;
    font-weight: 400;
}

.main-focus h5 {
    font-size: 1em !important;
    margin: 17px 0 3px;
}

.main-focus .focus {
    font-size: 2.5em;
}

#focus-input {
    width: 100%;
    padding: var(--input-padding);
    display: block;
    background: 0;
    border: 0;
    border-bottom: 2px solid #fff;
    -webkit-border-radius: 0;
    color: #fff;
    font-size: 2.25em;
    font-weight: 500;
    line-height: 1.2;
    outline: none;
    text-align: center;
    transition: border-color .2s ease;
}

.main-focus:hover .ellipsis-btn {
    visibility: visible;
}

.ellipsis-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 8px;
    visibility: hidden;
    font-size: 1.2em;
    color: #fff;
    width: 30px;

    position: absolute;
    top: 50%;
    transform: translate(0, -35%);
}

.ellipsis-btn:hover{
    outline: none;
}

.ellipsis-btn:focus {
    visibility: visible;
}

.quote-container{
    margin: 10% auto 0;
    font-style: italic;
    max-width: 60vw;
}

.quote-text {
    margin-bottom: 0;
}

.quote-author {
    margin-top: 0;
}

.todo {
    width: 250px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: left;
}

.todo span.header {
    text-align: left;
    font-weight: 400;
    visibility: hidden;
}

.todo input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background: transparent;
    color: #fff;
}

.todo input[type="text"]::placeholder {
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.todo input[type="text"]:hover::placeholder {
    color:#fff;
}

textarea:focus, input:focus{
    outline: none;
}

.todo ul {
    list-style-type: none;
    padding: 0;
}

.todo li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    padding-left: 1.5em;
    text-indent:-1.5em;
}

.todo li.completed {
    text-decoration: line-through;
    color: #aaa;
}

.todo button {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2px 7px;
    cursor: pointer;
    visibility: hidden;
}

.todo li:hover button {
    visibility: visible;
}

.todo button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}